<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title></title>
    <script src="/js/jquery-1.7.2.js"></script>
    <link href="/css/ui.jqgrid.css" rel="stylesheet" />
  <script type="text/javascript">
$(function() {
    $("#btn").on("click", function() {
        $.ajax({
                url: '/views/test.html',
                type: 'POST',
                dataType: 'json',
                data: {},
            })
            .done(function(data) {
               console.log(data);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    })
    $("#btn2").on("click", function() {
        $.ajax({
                url: '/views/test.html',
                type: 'POST',
                dataType: 'json',
                data: {type:"close"},
            })
            .done(function(data) {
               console.log(data);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    })
})
  </script>
</head>
<body>
 <input type="button" value="click" id="btn" />
  <input type="button" value="close" id="btn2" />
</body>
</html>
